.container{
    max-width: calc(100% - 400px);
    width: 100%;
    margin: 0 auto;
}

.container-fluid{
    max-width: calc(100% - 130px);
    width: 100%;
    margin:  0 auto;
}

.d-flex{
    display: flex;
}

// Person Card
.person_card{
    display: flex;
    column-gap: 34px;

    &__image-wrapper{
        position: relative;
        width: 272px;
        height: 266px;

        img{
            width: 100%;
            // height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 12px;
        }
    }

    &__contents{
        width: calc(100% - 272px - 34px);
        display: flex;
        flex-direction: column;
        row-gap: 38px;

        &__detail{
            display: flex;
            justify-content: space-between;

            .person-info{
                .name{
                    font-family: 'Montserrat',sans-serif;
                    color: var(--title-color);
                    font-weight: 600;
                    font-size: 24px;
                }

                .profession{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 500;
                    color: var(--sub-title-color);
                }
            }

            .person-contact{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                .email,.phone{
                    display: flex;
                    column-gap: 18px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    line-height: 22px;
                    color: var(--title-color);
                    align-items: center;
                    font-weight: 500;

                    img{
                        width: 18px;
                    }
                }
            }
        }

        &__person-overview{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: var(--sub-title-color);
            line-height: 22px;
            margin: 0;

            
        }
    }
} 

.card{
    background: var(--card-bg);
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    height: fit-content;
}

.skill-list{
    .skills{
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        &__title{
            font-family: 'Montserrat',sans-serif;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: var(--title-color);
        }

        &__data{
            .rs-tag{
                background-color: var(--btn-bg-color) !important;
                color: var(--bg-color) !important;
            }
        }
    }
}

.hobby-list{
    .hobbies{
        display: flex;
        flex-direction: column;
        row-gap: 26px;

        &__title{
           font-family: 'Montserrat',sans-serif;
           font-weight: 500;
           font-size: 24px;
           line-height: 30px;
           color: var(--title-color); 
        }

        &__data{
            display: flex;
            flex-direction: column;
            row-gap: 36px;
            .hobby{
                &__image-wrapper{
                    position: relative;
                    padding-top: calc(139 / 379 * 100%);

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }

                &__title,&__sub-title{
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                }

                &__title{
                    font-size: 18px;
                    line-height: 22px;
                    color: var(--primary-text-color);
                    font-weight: 600;
                    margin-top: 26px;
                }

                &__sub-title{
                    color: var(--sub-title-color);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.experiences{
    display: flex;
    flex-direction: column;
    row-gap: 44px;

    &__title{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: var(--title-color);
        font-weight: 500;
    }

    &__data{
        display: flex;
        flex-direction: column;
        row-gap: 36px;
        
        .experience{
            display: flex;
            column-gap: 22px;

            &__image-wrapper{
                // position: relative;
                width: 120px;
                height: 84px;
                // padding-top: calc(84 / 120 * 100%);
                img{
                    width: 100%;
                    height: 100%;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // object-fit: cover;
                }
            }

               
            &__details{
                width: calc(100% - 22px);
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                
                h2{
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                }
    
                &__duration{
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--sub-title-color);
                    font-weight: 500;
                    grid-column: 4 / -1;
                }

                &__designation{
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--primary-text-color);
                    font-weight: 600;
                }

                &__description{
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--sub-title-color);
                    font-weight: 500;
                    margin-top: 20px;
                }
            }
        }
    }
}

.blogs{
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h2{
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .header{
        &__title{
            margin: 0;
            padding: 0;
            font-size: 18px;
            line-height: 22px;
            color: var(--title-color);
            font-weight: 500;
        }

        
    }

    &__list{
        .blog{
            display: flex;
            column-gap: 75px;

            &__contents{
                width: calc(50% - 75px);
                display: flex;
                flex-direction: column;
                row-gap: 26px;

                .tag{
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--secondary-sub-title-color);
                }

                .title{
                    font-size: 24px;
                    line-height: 30px;
                    color: var(--title-color);
                    font-weight: 500;
                    margin-top: 4px;
                }

                .description{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    color: var(--sub-title-color);
                }

                .url{
                    font-family: 'Montserrat',sans-serif;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: var(--btn-bg-color);
                    text-align: left;
                }
            }

            &__image-wrapper{
                width: 50%;
                // padding-top: calc(357 / 500 * 100%);
                padding-top: 35.4%;
                position: relative;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
        }
    }
}