@import "variables.scss";
@import "common-class.scss";
@import "responsive/responsive.scss";
@import "fonts.scss";
@import "rsuite/dist/rsuite.css";

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--bg-color);
}

/*Layout 1 */

/*Layout 2 */
/* footer section */
footer{
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 160px;
    margin-bottom: 26px;

    @media(max-width: 769px){
        margin-top: 80px;
    }

    @media(max-width: 426px){
        margin-top: 40px;
    }
}

footer p,a{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

footer p{
    a{
        text-decoration: underline;
    }
}