@import "variables.scss";
@import "common-class.scss";
@import "responsive/responsive.scss";
@import "fonts.scss";
@import "rsuite/dist/rsuite.css";
@import "./layouts/default.scss";
@import "./layouts/extended.scss";
@import "./dark-theme.scss";

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--bg-color);
}

/* Settings*/
.theme-settings{
    position: fixed;
    right: 0;
    top: 50%;
    background: unset;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    background: #252836;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    justify-content: center;

    img{
        width: 30px;
    }

    &__setting{
        position: absolute;
        width: 250px;
        right: -250px;
        background: #1F1D2B;
        height: fit-content;
        border-radius: 12px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
        transition: 0.5s;

        .title{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: #FFFFFF;
        }

        &__layouts,&__themes{
            display: flex;
            column-gap: 10px;

            .layout,.theme{
                display: flex;
                column-gap: 4px;
                align-items: center;

                label{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 22px;
                    color: #ABBBC2;
                    font-weight: 300;
                }
            }
        }
        
    }
}

.open-theme-settings{
    right: 250px;
}
/* footer section */
footer{
    width: 100%;
    grid-column: 1 / -1;
    margin-top: 160px;
    margin-bottom: 26px;

    @media(max-width: 769px){
        margin-top: 80px;
    }

    @media(max-width: 426px){
        margin-top: 40px;
    }
}

footer p,a{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

footer p{
    a{
        text-decoration: underline;
    }
}