:root{
    --bg-color: #F2F2F2;
    --primary-text-color: #333333;
    --title-color: #4F4F4F;
    --secondary-title-color: #000000;
    --sub-title-color: #828282;
    --secondary-sub-title-color: #E0E0E0;
    --btn-text-color: #FFFFFF;
    --btn-bg-color: #2F80ED;
    --card-bg: #FFFFFF;
    --border-color: #ABBBC2;
}

$montserrat: 'Montserrat', sans-serif;
$bg-color: #181719;
$text-color: var(--primary-text-color);